Source: golang-tar-dev
Section: devel
Priority: extra
Maintainer: Jonathan Dray <jonathan.dray@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/dotcloud/tar

Package: golang-tar-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A fork of the upstream Go tar archive (development files)
 This is a fork of the upstream tar archive with PAX header support
 .
 This package contains the source.
